<h1> All Menus </h1>
<div>
  <% if is_admin? %>
      <div><%= link_to 'New Menu', new_admin_menu_path, class: "btn btn-primary" %></div>
  <% end %>
  <table class="table table-hover table-striped">
    <tr>
      <th>Date</th>
      <th>Restaurants</th>
      <% if is_admin? %>
          <th colspan="2">Actions</th>
      <% end %>
    </tr>
    <% @menus.each do |menu| %>
        <tr>
          <td><%= menu.date %></td>
          <td>
            <%= link_to menu.restaurants.map(&:name).join(" , "), menu_path(menu) %>
          </td>

          <% if is_admin? %>
              <td><%= link_to 'Edit', edit_admin_menu_path(menu) %></td>
              <td><%= link_to 'Delete', admin_menu_path(menu),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %> </td>
          <% end %>
        </tr>
    <% end %>
  </table>

  <%= render partial: 'support/pagination_footer', locals: {href_path: 'menus_path'} %>

</div>



