%h1 Menu Details
%h2
  = @menu.date
%h2 Restaurant

- @menu.restaurants.each do |r|
  .media
    .media-left
      .media-body
        %h4.media-title
          = link_to r.name, restaurant_path(r)
        %p
          = r.address
        %p
          Lock at #{to_date_in_time_zone(@menu_restaurants[r.id.to_s].locked_at)}
%br

= link_to 'Lock restaurants', lock_restaurants_admin_menu_path(@menu.id)
= link_to 'Back to menu manager page', menus_path, class: 'btn btn-primary'
