<div class="grant-border">
  <ul class="nav nav-tabs" role="tablist">
    <li class=<%= 'active' if current_path_is? sap_page_admin_users_path %>>
      <%= link_to 'SAP page', sap_page_admin_users_path %>
    </li>

    <li class=<%= 'active' if current_path_is? import_page_admin_dishes_path %> >
      <%= link_to 'Import Dish (CSV)', import_page_admin_dishes_path %>
    </li>

    <li class=<%= 'active' if current_path_is? admin_quick_add_with_type_path %>>
      <%= link_to 'Quick add dishes', admin_quick_add_with_type_path %>
    </li>

    <li class=<%= 'active' if current_path_is? admin_set_month_menu_path %>>
      <%= link_to 'Set month menu', admin_set_month_menu_path %>
    </li>

    <li class=<%= 'active' if current_path_is? admin_add_provider_for_month_path %>>
      <%= link_to 'Add providers for month', admin_add_provider_for_month_path %>
    </li>

    <li class=<%= 'active' if current_path_is? admin_default_provider_menu_day_path %>>
      <%= link_to 'Create default day-provider menu', admin_default_provider_menu_day_path %>
    </li>
  </ul>
</div>
