<div class="dish-media-wrap">
  <div class="media" data-id="<%= r.id %>">
    <div class="media-left">
      <%= render partial: 'layouts/components/image_tag_inline', locals:{image: r.image, size: [120, 120], object: 'dish', options: {class_name: "each-dish-img"}} %>

    </div>
    <div class="media-body">
      <strong><%= link_to r.name, dish_path(r), class: "each-dish-name" %></strong>
      <p class="each-dish-price"><%= r.price %></p>
    </div>
    <div class="media-right">
      <a class="btn btn-default glyphicon glyphicon-plus" data-price="<%= r.price %>" onclick="addDishToday2(this)"></a>
    </div>
  </div>
</div>