<div class="media today-dish-right" id=<%= "today_order_#{r.id}" %> data-price="<%= r.price %>" data-id="<%= r.id %>">
  <div class="media-left">
    <%= render partial: 'layouts/components/image_tag_inline', locals:{image: r.image, size: [60, 60], object: 'dish', options: {class_name: "each-dish-img", data: {price: r.price}, alt:r.name}} %>

  </div>
  <div class="media-body">
    <strong class="each-dish-name"><%= r.name %></strong>
    <p class="each-dish-price"><%= r.price %></p>

  </div>
  <div class="media-right">
    <a class="btn btn-warning glyphicon glyphicon-remove" id=<%= "remove_btn_today_order_#{r.id}" %> onclick="removeDishToday(this)"></a>
  </div>

</div>