<div class="row">
  <%= Date.today %>
</div>
<div class="row">
  <table class="table table-hover table-striped">
    <tr>
      <th>Order ID</th>
      <th>User</th>
      <th>Dishes</th>
      <th>Totals</th>
      <th>Note</th>
      <th>Action</th>
    </tr>
    <% @all_orders.each do |r| %>
        <tr>
          <td><%= r.id %></td>
          <td><%= r.user.username %></td>
          <td>
            <%= r.dishes.map(&:name).join(" + ") %>
          </td>
          <td>
            <%= r.dishes.inject(0) {|sum, e| sum + e.price} %>
          </td>
          <td><%= r.note %></td>
          <td><%= link_to '', {controller: 'users', action: 'copy_order', copy_info: {user_id: r.user.id, order_id: r.id, dish_ids: r.dishes.map(&:id)}}, class: "btn btn-primary glyphicon glyphicon-copy", onclick: "removeDishToday(this)" %></td>
        </tr>
    <% end %>
  </table>
</div>