<%= pageTitle("New orders") %>
<%= form_for @order, url: admin_orders_path do |o| %>
    <p><%= o.label :user %>
      <input type="text" name="order[user]" id="order-new-user-search" value="" onkeyup="SearchUserForm.searchUser(this.value)"/>
    <div style="position: relative;">
      <div id="order-new-user-result" class="" list-group>
      </div>
    </div>

    <p><%= o.label :date %>
      <%= o.date_select :date %> <a href="#" onclick="ChosenDishList(<%= Date.today%>).createListPage()">select</a></p>

    <p><%= o.label :note %>
      <%= o.text_area :note %></p>

    <div class="row">
      <div class="col-md-6">
        <%= render partial: 'dishes/dish_pagination' %>
      </div>
      <div class="col-md-3 col-offset-1" name="order[dishes]">
        <%= render partial: 'orders/new/list_dish' %>
      </div>
    </div>
    <input type="hidden" id="order_dish" name="order[dishes][]"/>
    <input type="hidden" id="order_total_price" name="order[total_price]"/>
    <input type="hidden" id="order_user_id" name="order[user_id]"/>

    <%= o.submit onclick: "NewDishForm.copyToHiddenField()" %>
<% end %>