<h1>List Users</h1>
<% if is_admin_local %>
    <%= link_to 'Add initial users', add_initial_user_admin_users_path, class: 'btn btn-warning' %>
    <span>      </span><%= link_to 'New User', new_admin_user_path, class: "btn btn-primary" %>
<% end %>
<table class="table table-hover table-striped">
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Is Admin?</th>
    <% if session[:is_admin] %>
        <th>Actions</th>
    <% end %>
  </tr>


  <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.admin %></td>
        <td>
          <% if is_admin? %>
              <%= render partial: 'layouts/components/amend_button_group', locals: {class_name: "no-right-top-align", _edit_link: edit_admin_user_path(user), _delete_link: admin_user_path(user), _new_link: {name: 'Details', url: admin_user_path(user)}} %>
          <% else %>
            <td><%= link_to 'Details', user_path(user), class: "btn btn-default" %></td>
        <% end %>
        </td>
      </tr>
  <% end %>
</table>
