<p><strong>User Name : </strong> <%= @user.username %></p>

<p><strong>Email : </strong> <%= @user.email %></p>

<p><strong>Is admin? </strong><%= @user.admin ? "Yes" : "No" %></p>

<p><% if (session[:is_admin] or session[:user_id] == @user.id) %>
      <%= link_to 'Edit', edit_path_local, class: "btn btn-primary" %>
  <% end %>
  <%= link_to 'Back to all users', users_path, class: "btn btn-default" %></p>