<h1>Change password</h1>
<p>User: <%= @user.email %> </p>

<%= form_for @user, url: confirm_change_password_user_path do |f| %>

    <p><%= f.label 'Old password' %></p>
    <p><%= f.password_field :old_password %></p><br>

    <p><%= f.label 'New password' %></p>
    <p><%= f.text_field :password %></p>

    <p><%= f.submit %></p>
<% end %>