<h1>Edit User</h1>
<%= link_to 'Change password', change_password_user_path, class:"btn btn-warning" %><br>
<%= form_for @user, url: user_path do |f| %>
    <p><%= f.label :username %></p>
    <p>
      <%= @user.username %>
    </p>

    <p><%= f.label :email %></p>
    <p>
      <%= @user.email %>
    </p>

    <p><%= f.label :slack_name %></p>
    <p><%= f.text_field :slack_name %></p>

    <p><%= f.submit %></p>
<% end %>