<h2>All dishes <%= Date.today() %></h2>
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'all_dishes')">DISHES</button>
  <button class="tablinks" onclick="openCity(event, 'all_orders')">All orders</button>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 panel panel-default">
      <div id="all_dishes" class="tabcontent" style="display:block;">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Restaurants
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <% @menu.restaurants.each do |r| %>
                <li>
                  <a href="#" class="restaurant-tablinks" onclick="showDishesForRetaurant(event, <%="restaurant_tab_#{r.id}" %>)"><%= r.name %></a>
                </li>
            <% end %>
          </ul>
        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Tags
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <% @tags.each do |tag| %>
                <li>
                  <a href="#" class="restaurant-tablinks" onclick="showDishesForRetaurant(event, <%="tag_tab_#{tag[0].blank? ? 'Others' : tag[0].id.to_s}" %>)"><%= tag[0].blank? ? 'nil' : tag[0].name %></a>
                </li>
            <% end %>
          </ul>
        </div>

        <div class="row">
          <% @menu.restaurants.each do |r| %>
              <div id=<%= 'restaurant_tab_'+ r.id.to_s %> class="restaurant-tabcontent">
                <% r.dishes.each do |d| %>
                    <%= render partial: 'dishes/media_style/dish_media_style', locals: {r: d} %>
                <% end %>
              </div>
          <% end %>
        </div>

        <div class="row">
          <% @tags.each do |tag| %>
              <div id=<%= tag[0].blank? ? 'tag_tab_nil' : "tag_tab_#{tag[0].id.to_s}" %> class="restaurant-tabcontent">
                <% tag[1].each do |d| %>
                    <%= render partial: 'dishes/media_style/dish_media_style', locals: {r: d[0]} %>
                <% end %>
              </div>
          <% end %>
        </div>
      </div>

      <div id="all_orders" class="tabcontent">
        <h2>All orders <%= Date.today() %></h2>
        <% if defined? @all_orders %>
            <%= render partial: 'users/components/today_all_order_details' %>
        <% else %>
            <h3> No permission</h3>
        <% end %>
      </div>

    </div>

    <div id="today-personal" class="col-md-4">
      <div id="today-my-order">
        <div id="today-my-order-title">
          <p>Your Order Today
            (id:
            <hidden id="today-my-order-user-id"><%= session[:user_id] %></hidden>
            )
          </p>
        </div>


        <div id="today-my-order-content">
          <% unless @today_order.blank? %>
              <% @today_order.dishes.each do |r| %>
                  <%= render partial: 'dishes/media_style/today_dish_media_style', locals: {r: r} %>
              <% end %>
          <% end %>
        </div>

        <%= render partial: 'users/components/today_order_edit_note_form' %>
        <!-- for Note -->

        <div class="row">
          <p>Total: <strong><span id="total_price_today"><%= @total_price %></span></strong></p>
          <h4 id="total-price-warning"></h4>
        </div>
      </div>
    </div>

  </div>

  <%= render partial: 'dishes/media_style/today_dish_template_media_style' %>

</div>
</div>
<%= render partial: 'users/components/today_order_edit_note_modal' %>