<h2>Order lunch for <span id="date-select-date"><%= @select_date %></span> ( <%= additional_info_for_current_date @select_date %> )</h2>
<div class="row" style="position: relative">
  <div class="col-md-2">
    <%= link_to 'Previous day', order_user_path(select_date: @select_date - 1), class: 'btn btn-default' %>
  </div>

  <div class='col-md-8 col-sm-8'>
    <div class="form-group">
      <div class='input-group date' id='datetimepicker1'>
        <input data-format="yyyy-MM-dd" type="text" class="form-control"/>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
      <%= link_to 'Search', order_user_path(current_user), class:"btn btn-default", id:"order-search-date" %>
  </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#datetimepicker1').datetimepicker({
          });

          $('#order-search-date').click(function(evt) {
              var date = $('#datetimepicker1').data().date
              if(typeof date !== 'undefined'){
                  d = new Date(date)
                  dest_date = d.getFullYear().toString() + '-' +(d.getMonth()+1).toString() + '-' + d.getDate().toString()
                  new_url = $(evt.currentTarget).attr('href')+ '?select_date=' + dest_date
                  window.location.href = new_url;
              }
              return false;
          });
      });
  </script>

  <div class="col-md-2">
    <%= link_to 'Next day', order_user_path(select_date: @select_date + 1), class: 'btn btn-default' %>
  </div>
</div>

<% if @menu.blank? %>
    <%= render partial: 'menus/request_menu' %>
<% else %>
    <%= render partial: 'order_form' %>
<% end %>
