<%= Date.today() %>
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'all_restaurants')">All Restaurants</button>
  <button class="tablinks" onclick="openCity(event, 'all_dishes')">All dishes</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
</div>

<div id="Tokyo" class="tabcontent">
  <h3>London</h3>
  <p>London is the capital city of England.</p>
</div>



<div class="container-fluid">
  <div class="row">
    <div id="all_restaurants" class="col-md-8 panel panel-default tabcontent">
      <div id="today-date" class="panel-heading">
        <%= Date.today() %>
      </div>
      <div id="today-menu" class="panel-body">
        <% @menu.restaurants.each do |r| %>
            <div class="col-xs-6 col-md-8">
              <%= link_to image_tag(r.image_logo, alt: r.name), {controller: 'users', action: 'select_dish', id: r.id, :select_dish => 1}, class: "thumbnail" %>
              <span class="label label-primary"><%= r.name %></span>
            </div>
        <% end %>
      </div>
      <div id="today-menu-footer">
      </div>
    </div>

    <div id="all_dishes" class="col-md-8 panel panel-default tabcontent">
      <div class="container-fluid">
        <div class="row">
          <% @dishes.each do |r| %>
              <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                  <%= image_tag r.image_url, alt: r.name, size: "120x120", class: "each-dish-img" %>
                  <div class="caption">
                    <strong class="each-dish-name"><%= r.name %></strong>
                    <p class="each-dish-price"><%= r.price %></p>
                    <p class="each-dish-id"><%= r.id %></p>
                    <p>
                      <span><a class="btn btn-default glyphicon glyphicon-plus" data-price="<%= r.price %>" onclick="addDishToday(this)"></a></span>
                    </p>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>

    <div id="today-personal" class="col-md-2 col-md-offset-2">
      <div id="today-my-order">
        <div id="today-my-order-title">
          <p>Your Order Today</p>
          <hidden id="today-my-order-user-id"><%= session[:user_id]%></hidden>
        </div>
        <div id="today-my-order-content">
          <% if !@today_order.nil? %>


              <% @today_order.dishes.each do |r| %>
                  <div class="row" id=<%= "today_order_#{r.id}" %> data-price="<%= r.price %>">
                    <div class="col-md-12">
                      <div class="thumbnail">
                        <div class="caption">
                          <%= image_tag r.image_url, alt: r.name, size: "60x60", :data => {price: r.price}, onclick: 'showPrice(this)' %>
                          <strong class="each-dish-name"><%= r.name %></strong>
                          <p class="each-dish-price"><%= r.price %></p>
                          <p class="each-dish-id"><%= r.id %></p>
                          <p>
                            <span>
                              <a class="btn btn-warning glyphicon glyphicon-remove" id=<%= "remove_btn_today_order_#{r.id}" %> onclick="removeDishToday(this)"></a>
                            </span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
              <% end %>
          <% end %>
        </div>
        <div>
          <p>Total: <span id="total_price_today"><%= @total_price %></span></p>
          <h3 id="total-price-warning"></h3>
        </div>

        <div class="row">
          <%= link_to 'Save Order', {controller:"users",action: "save_order"},class:"btn btn-default"%>
        </div>
      </div>

      <div id="support-personal">

      </div>
    </div>
  </div>

  <!-- -----------------------Dish Template --------------------- -->
  <template id="template-dish-today">
    <div class="row" class="template-dish-row-dish" id="today-order-template">
      <div class="col-md-12">
        <div class="thumbnail">
          <div class="caption">
            <%= image_tag "template-image-url", alt: "template-image-name", size: "60x60", :data => {price: 0}, class: "each-dish-img", onclick: 'showPrice(this)' %>
            <strong class="each-dish-name"></strong>
            <p class="each-dish-price"></p>
            <p class="each-dish-id"></p>
            <p>
                  <span>
                    <a class="btn btn-warning glyphicon glyphicon-remove" id=<%= "remove_btn_today_order_template" %> onclick="removeDishToday(this)"></a>
                  </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </template>


  <%= link_to 'Delete today_order of session', {controller: 'users', action: 'delete_today_order_session'} %>
</div>
