<%= Date.today() %>
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'all_restaurants')">All Restaurants</button>
  <button class="tablinks" onclick="openCity(event, 'all_dishes')">All dishes</button>
  <button class="tablinks" onclick="openCity(event, 'all_orders')">All orders</button>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 panel panel-default">
      <div id="all_restaurants" class="tabcontent">
        <div id="today-date" class="panel-heading">
          <%= Date.today() %>
        </div>
        <div id="today-menu" class="panel-body">
          <% @menu.restaurants.each do |r| %>
              <div class="col-xs-6 col-md-8">
                <h2><%= r.name %></h2>
                <%= link_to image_tag(r.image_logo, alt: r.name, size: "120x120", onerror: "this.src='#{RestaurantsHelper::IMAGE_RESTAURANT_DEFAULT}'"), {controller: 'users', action: 'select_dish', id: r.id, :select_dish => 1}, class: "thumbnail" %>
              </div>
          <% end %>
        </div>
        <div id="today-menu-footer">
        </div>
      </div>

      <div id="all_dishes" class="tabcontent">
        <div class="container-fluid">
          <div class="row">
            <% @dishes.each do |r| %>
                <%= render partial: 'dishes/dish_media_style', locals: {r: r} %>
            <% end %>
          </div>
        </div>
      </div>

      <div id="all_orders" class="tabcontent">
        <% if defined? @all_orders %>
            <%= render partial: 'users/components/today_all_order_details' %>
        <% else %>
            <h3> No permission</h3>
        <% end %>

      </div>

    </div>

    <div id="today-personal" class="col-md-3 col-md-offset-1">
      <div id="today-my-order">
        <div id="today-my-order-title">
          <p>Your Order Today
            <hidden id="today-my-order-user-id"><%= session[:user_id] %></hidden>
          </p>
        </div>


        <% unless @today_order.blank? %>
            <div id="today-my-order-content">
              <% @today_order.dishes.each do |r| %>
                  <div class="row" id=<%= "today_order_#{r.id}" %> data-price="<%= r.price %>">
                    <div class="col-md-12">
                      <div class="thumbnail">
                        <div class="caption">
                          <%= image_tag r.image_url, onerror: "this.src='#{RestaurantsHelper::IMAGE_DISH_DEFAULT}'", alt: r.name, size: "60x60", :data => {price: r.price}, class: "each-dish-img" %>
                          <p><strong class="each-dish-name"><%= r.name %></strong>(
                            <hidden class="each-dish-id"><%= r.id %></hidden>
                            )
                          </p>
                          <p class="each-dish-price"><%= r.price %></p>
                          <a class="btn btn-warning glyphicon glyphicon-remove" id=<%= "remove_btn_today_order_#{r.id}" %> onclick="removeDishToday(this)"></a>
                        </div>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>

            <%= render partial: 'users/components/today_order_edit_note_form' %>
            <!-- for Note -->

            <div class="row">
              <p>Total: <strong><span id="total_price_today"><%= @total_price %></span></strong></p>
              <h4 id="total-price-warning"></h4>
            </div>
        <% end %>
      </div>
    </div>

  </div>

  <%= render partial: 'dishes/today_dish_template' %>

</div>
</div>
<%= render partial: 'users/components/today_order_edit_note_modal' %>