<h1>Hello select</h1>
<h2>Select dishes for provider <%= @restaurant.name %> on date <%= @daily_restaurant.date %></h2>

<%= form_for(:provider, url: admin_confirm_dish_for_provider_path, method: :post) do |f| %>
  <input type="hidden" name="provider[daily_restaurant_id]" id="provider_daily_restaurant_id" value=<%= @daily_restaurant.id %> />
  <%= f.collection_check_boxes(:dish_ids, @dishes, :id, :name) %>
  <p><%= f.submit %></p>
<%= end %>
