<div class="col-md-8">
  <h1> EDIT RESTAURANT</h1>
  <%= form_for @restaurant, url:admin_restaurant_path do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_field :address, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :ref_link %>
        <%= f.text_field :ref_link, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :phone %>
        <%= f.text_field :phone, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control" %>
      </div>

      <div class="form-group">
        <p><%= f.label 'Image Logo' %></p>
        <p><%= f.file_field :image_logo %></p>
      </div>

      <p><%= f.submit %></p>
  <% end %>
</div>