<div class="media">
  <div class="media-left">
    <%= image_tag r.image_url, onerror: "this.src='#{RestaurantsHelper::IMAGE_DISH_DEFAULT}'", size: "120x120", class: "each-dish-img" %>
  </div>
  <div class="media-body">
    <strong>(<hidden class="each-dish-id"><%= r.id %></hidden>)  <%= link_to r.name, dish_path(r), class: "each-dish-name" %></strong>
    <p class="each-dish-price"><%= r.price %></p>
  </div>
  <div class="media-right">
    <a class="btn btn-default glyphicon glyphicon-plus" data-price="<%= r.price %>" onclick="addDishToday2(this)"></a>
  </div>
</div>
