<div class="row">
  <p>DISH DETAIL</p>
  <div class="col-md-4">
    <%= render partial: 'layouts/components/image_tag_inline', locals:{image: @dish.image, size: [120, 120], object: 'dish', options: {alt: @dish.name}} %>

    <p class="text-uppercase"><%= @dish.name %></p>
    <strong><%= @dish.price %></strong>
    <p><%= link_to @dish.restaurant.name, restaurant_path(@dish.restaurant) %></p>
    <p><%= @dish.description %></p>
    <% if is_admin? %>
        <%= render partial: 'layouts/components/amend_button_group', locals: {_edit_link: edit_admin_dish_path(@dish), _delete_link: admin_dish_path(@dish)} %>
    <% end %>
  </div>
</div>