<h1> Picture library </h1>

<%= link_to 'New Image', new_picture_path, class: 'btn btn-primary' %>
<table class="table table-striped table-bordered">
  <tr>
    <th>Name</th>
    <th>Image</th>
    <% if is_admin? %>
        <th>Action</th>
    <% end %>
  </tr>
  <% @pictures.each do |p| %>
      <tr>
        <td><strong><%= link_to p.name, picture_path(p) %></strong></td>
        <td><%= image_tag p.image.url :thumb %></td>
        <td><%= link_to 'Edit', edit_admin_picture_path(p) %> <br><br>
          <%= link_to 'Delete', admin_picture_path(p), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>
