<% unless d.blank? %>
    <div class="row media">
      <div class="media-left">
        <%= image_tag(d.image_url , size: "60x60", alt: "Image", onerror: "this.src='#{RestaurantsHelper::IMAGE_DISH_DEFAULT}'") %>
      </div>

      <div class="media-body">
        <div class="media-heading"><strong><%= d.name %></strong> (<%= d.price %>)</div>
        <%= d.description %>
      </div>
      <% if is_admin? %>
          <div class="media-right">
            <%= link_to 'Delete', admin_dish_path(d.id),
                        method: :delete,
                        data: {confirm: 'Are you sure?'} %>
          </div>
      <% end %>
    </div>
<% end %>


