<!--restaurant heading-->
<div class="panel-heading" role="tab" id=<%= "heading_{f.id}" %>>
  <div class="panel-title media">
    <div class="media-left">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href=<%= "##{f.id}_collapse" %> aria-expanded="true" aria-controls="collapseOne" class="media-object">
        <%= render partial: 'layouts/components/image_tag_inline', locals: {image: f.image, restaurant: f, size: [40, 40], object: 'dish', options: {alt: f.name, img_size: 'thumb'}} %>
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= link_to f.name, restaurant_path(f) %></h4>
      <%= f.address %>
    </div>

  </div>
</div>

<!--list dishes-->
<div id=<%= "#{f.id}_collapse" %> class="panel-collapse collapse" role="tabpanel" aria-labelledby=<%= "heading_{f.id}" %>>
<div class="panel-body">
  <% unless f.dishes.nil? %>
      <%= render partial: 'restaurants/list_dishes_of_each_restaurant', collection: f.dishes, as: :d %>
  <% end %>
</div>
</div>
