<h1>All Restaurants</h1>
<%= @restaurants.each do |f| %>
    <div class="restaurant-index">
      <h3><%= f.name %> - <%= f.address %></h3>
      <a class="btn btn-info collapsed" data-toggle="collapse" data-target=<%= "##{f.id}_collapse" %>><%= f.name %>
        <%= image_tag(f.image_logo, size: "120x120", alt: f.name) %>
      </a>
      <div id=<%= "#{f.id}_collapse" %> class="collapse" >
        <% if not f.dishes.empty? %>
            <p> -- DISHES -- </p>
        <% end %>
        <% f.dishes.each do |d| %>
            <div class="dish-index col-xs-6 col-md-4">
              <p><%= d.name %> |
                <%= d.price %> |
                <%= d.description %></p>
              <%= image_tag(d.image_url, size: "60x60", alt: "Image") %>
              <%= link_to 'Delete', dish_path(d.id),
                          method: :delete,
                          data: {confirm: 'Are you sure?'} %><br>
            </div>
        <% end %>
        <%= link_to "New dish", controller: "dishes", action: "new", id: f.id %>,<br>
      </div>
    </div>
<% end %>

<%= link_to "New restaurant", new_restaurant_path %>