<h1>New Restaurant</h1>
<%= form_for @restaurant do |f| %>

    <p><%= f.label :name %></p>
    <p><%= f.text_field :name%></p>

    <p><%= f.label :address %></p>
    <p><%= f.text_field :address%></p> <br>

    <p><%= f.submit %></p>
<% end %>