<% require 'pathname' %>
<div class="container-fluid">
  <div class="col-md-8">
    <h1>Restaurant details</h1>
    <% if is_admin? %>
        <%= link_to 'Scrap dishes (from Foody)', {controller: "admin/restaurants", action: "scrap_dish", id: @restaurant.id, ref_link: @restaurant.ref_link}, class: 'btn btn-warning' %>
    <% end %>

    <div class="panel panel-default">
      <div class="row media panel-heading">
        <div class="media-body">
          <p>Name: <strong><%= @restaurant.name.upcase %></strong></p>
          <p>Address: <%= @restaurant.address %></p>
          <p>Phone: <%= @restaurant.phone %> </p>
          <p>Description: <%= @restaurant.description.html_safe if @restaurant.description %></p>
          <p>Link: <%= link_to('Here', @restaurant.ref_link, data: {confirm: "Are you sure?"}) if @restaurant.ref_link %></p>
          <div>
            <% #render partial: 'layouts/components/image_tag_inline', locals:{image: @restaurant.image, size: [100, 100], object: 'restaurant', options: {}} %>
          </div>
          <div>
            <%= image_tag @restaurant.image_logo.url(:square) %>
          </div>
        </div>
        <% if is_admin? %>
            <%= render partial: 'layouts/components/amend_button_group', locals: {_edit_link: edit_admin_restaurant_path(@restaurant), _delete_link: admin_restaurant_path(@restaurant), _new_link: {name: 'New dish', url: {controller: "admin/dishes", action: "new", id: @restaurant.id}}} %>
        <% end %>
      </div>
      <div class="panel panel-body">
        <% @restaurant.dishes.each do |d| %>
            <%= render partial: 'dish_in_restaurant_show', locals: {d: d} %>
        <% end %>
      </div>
      <div class="row">
        <%= link_to "All Restaurants", restaurants_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>

  <% if params[:select_dish] %>
      <div class="col-md-4">
        <% if !@today_order.nil? %>
            <% @today_order.dishes.each do |d| %>
                <p><%= d.name %></p>
            <% end %>
        <% end %>
      </div>
  <% end %>
</div>
