<h2>List dishes</h2>
<div id="order-new-wrap-list-dish">
  <table id="order-new-list-dish" class="table">
    <% @order.dishes.each do |d| %>
        <tr>
          <td><%= d.id %></td>
          <td><%= d.name %></td>
          <td><%= d.price %></td>
          <td><%= link_to 'remove', '#', onclick: 'ChosenDishTr.removeItSelf()', data: {price: d.price} %></td>
        </tr>
    <% end %>
  </table>
</div>
<div> Total:
  <strong id="order-new-total-price" class="text-center">
    <%= @total_price %>
  </strong>
</div>