<div class="dropdown ">
  <button class="btn btn-default dropdown-toggle glyphicon glyphicon-export" type="button" id="export-button-group" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Export(PDF)
  </button>
  <ul class="dropdown-menu" aria-labelledby="export-button-group">
    <li><%= link_to 'Export Orders Today', export_pdf_admin_orders_path(format: :pdf)%></li>
    <li><%= link_to 'Export Manage Page', export_manage_pdf_admin_users_path(format: :pdf)%></li>
    <li><%= link_to 'Export Orders to CSV', export_orders_to_csv_admin_users_path(format: :csv) %></li>
  </ul>

</div>

<h2>List of orders</h2>
<table class="table table-hover table-bordered">
  <tr>
    <th>Order ID</th>
    <th>Username</th>
    <th>Dishes</th>
    <th>Note</th>
    <th>Total price</th>
  </tr>
  <% if @presenter.has_key? :today_order %>
      <% @presenter[:today_order].each do |order| %>
          <tr
          <%= "class=success" if order.user.id == session[:user_id].to_i %> >
            <td><%= link_to order.id, admin_order_path(order) %></td>
            <td><%= order.user.username %></td>
            <td><%= order.dishes.map(&:name).join(" , ") %></td>
            <td><%= order.note %></td>
            <td><%= display_cost_as_thousand(order.dishes.inject(0) {|sum, e| sum + e.price}) %></td>
          </tr>
      <% end %>
  <% end %>
</table><br><br>

<h2>List of dishes</h2>
<table class="table table-hover table-bordered">
  <tr>
    <th>Dish</th>
    <th>Restaurant</th>
    <th>Number</th>
    <th>Total price</th>
  </tr>
  <% if @presenter.has_key? :counted_dishes %>
      <% @presenter[:counted_dishes].each do |dish, count| %>
          <tr>
            <td><%= dish.name %></td>
            <td><%= dish.restaurant.name %></td>
            <td><%= count %></td>
            <td><%= display_cost_as_thousand(dish.price * count) %></td>
          </tr>
      <% end %>
  <% end %>
</table>
<br><br>

<h2>List of costs</h2>
<table class="table table-hover table-bordered">
  <tr>
    <th>Restaurant</th>
    <th>Phone</th>
    <th colspan="2">Total price</th>
  </tr>
  <% if @presenter.has_key? :all_costs %>
      <% @presenter[:all_costs].each do |restaurant, details| %>
          <tr class="info">
            <td><%= restaurant.name %></td>
            <td><%= restaurant.phone %></td>
            <td colspan="2"><%= display_cost_as_thousand(details[:cost]) %></td>
          </tr>
          <% details[:dishes].each do |dish, cost| %>
              <tr>
                <td></td>
                <td><%= dish.name %></td>
                <td><strong>(<%= cost[:count] %>) </strong></td>
                <td><%= display_cost_as_thousand cost[:cost] %></td>
              </tr>
          <% end %>
      <% end %>
  <% end %>

  <% if @presenter.has_key? :total_cost %>
      <tr class="warning">
        <td colspan="2"> TOTAL COST</td>
        <td><strong><%= display_cost_as_thousand(@presenter[:total_cost]) %></strong>
          <% if @presenter[:total_cost] > @presenter[:budget] %>
              <strong> (over budget)</strong>
          <% end %>
        </td>
      </tr>

      <tr class="warning">
        <td colspan="2"> BUDGET</td>
        <td><%= display_cost_as_thousand(@presenter[:budget]) %></td>
      </tr>
  <% end %>
</table>

