<!DOCTYPE html>
<html>
<head>
  <title>OrderLunch</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--<script src="https://www.solodev.com/assets/pagination/jquery.twbsPagination.js"></script>-->
</head>
<body>
<%= render 'layouts/header' %>
<div class="container-fluid">
  <div class="row">
    <% if logged_in? %>
        <div class="col-md-2">
          <%= render 'layouts/left_menu' %>
        </div>
    <% end %>
    <div class="col-md-10">
      <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
    </div>

  </div>
</div>


</body>
</html>
