!!!
%html
  %head
    %title EH Canteen
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true
    = javascript_include_tag 'application', 'data-turbolinks-track': true
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    .ui.container.fluid
      .ui.grid
        - if logged_in?
          .four.wide.column
            = render 'layouts/left_menu'
        .twelve.wide.center.aligned.column
          - flash.each do |key, value|
            = content_tag(:div, value, class: "alert alert-#{key}")
          = yield
