!!!
%html
  %head
    %title Lunchery | EH's Lunch Ordering
    = stylesheet_link_tag 'new_template', media: 'all', 'data-turbolinks-track': true
    = javascript_include_tag 'new_template', 'data-turbolinks-track': true
    = csrf_meta_tags
    %script{src: "https://unpkg.com/feather-icons"}
    %link{href: "https://employmenthero.com/favicon-96x96.png", rel: "icon", sizes: "96x96", type: "image/png"}/
    %link{href: "https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700&subset=vietnamese", rel: "stylesheet"}/
  %body
    .ui.overlay.visible.sidebar= render "layouts/sidebar"
    .pusher= yield

  :javascript
    $(function(){
      feather.replace();
    });
